body {
    background-color: white !important;   
}

.logo  {
    width: 132px;
}

.usuario {
    width: 150px;
    display: flex;
    align-items: flex-end !important;
}
.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 89px;
}

.barrausuarios {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.listapelis  {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around !important;
    align-items: center;
}

.listapelis ul{
    display: flex;
    flex-wrap: wrap;
}

.listapelis ul li {
    display: flex;
    flex-wrap: wrap;
}


.peliculas ul  {
    width: 100%;
    list-style: none;
}

.peliculas img{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footertexto {
    display: flex;
    justify-content: center;
}
.redes {
    padding-bottom: 20px;
}
.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
    
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
  }

  .footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }


.logotmbd {
    width: 130px;
    }

.mobgen {
    display: none;

}



@media only screen and (max-width: 420px) { 

    /* header */
    .inicio {
        display: none;
    }

    .favoritos {
        display: none;
    }

    .usuarios {
        display: none;
    }

    .boton {
        display: none;
    }

    .peliculas {
        display: none;
    }

    .headertext li {
        width: 50px;
    }

    .series {
        display: none;
    }

    .logo {
        width: 100px;
    }

    .logo img  {
        width: 100px;
        padding-top: 25px;
    }
    
    .usuario {
        width: 150px;
        display: flex;
        align-items: flex-end !important;
    }

    .header {
        background-color:  rgb(212, 205, 205);
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        height: 90px;
        width: 560px; 
    }

    .buscador {
        width: 300px;
    }
    
    .barrausuarios {
        display: flex;
    }

    .banner {
        display: none;
    }

    .bannermob {
        display: block;
        margin-top: 15px;
    }
    
    .todobarra {
        background-color: rgb(212, 205, 205)!important;
        display: flex;
        justify-content: space-around;
    }

    .txtmob{
        display: flex;
        justify-content: space-around;
        display: none;
    }
    
    .listapelis  {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-around !important;
        align-items: center;
        padding-left: 0px;

    }
    
    .listapelis ul{
        display: flex;
        flex-wrap: wrap;
    }
    
    .listapelis ul li {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .todopeliculas ul  {
        width: 100%;
        list-style: none;
    }
    
    .todopeliculas img{
        width: 200px;
        height: 300px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    .redes{
        display: none;
    }
    .footertodo{
        width: 560px; 
    }
    .footertexto{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
        
    .contenedor-footer li h5 {
        font-size: 13px;
    }
        
    .cerrar-sesion {
        height: 70px;
        display: flex;
        text-align: center;
    }

}
