body {
    background-color: white !important;   
}

.logo  {
    width: 132px;
}

.usuario {
    width: 150px;
    display: flex;
    align-items: flex-end !important;
}
.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 89px;
}

.barrausuarios {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.listapelis  {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around !important;
    align-items: center;
}

.listapelis ul{
    display: flex;
    flex-wrap: wrap;
}

.listapelis ul li {
    display: flex;
    flex-wrap: wrap;
}


.todopeliculas ul  {
    width: 100%;
    list-style: none;
}

.todopeliculas img{
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footertexto {
    display: flex;
    justify-content: center;
}
.redes {
    padding-bottom: 20px;
}
.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
    
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
  }

  .footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }


.logotmbd {
    width: 130px;
    }

.mobgen {
    display: none;

}

@keyframes ldio-z1g1o1junec {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-z1g1o1junec div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-z1g1o1junec linear 1s infinite;
    background: #d4cdcd;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-z1g1o1junec div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #d4cdcd;
  }.ldio-z1g1o1junec div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #d4cdcd;
  }
  .loadingio-spinner-spinner-uoh6i9p2upj {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-z1g1o1junec {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-z1g1o1junec div { box-sizing: content-box; } /* generated by https://loading.io/ */

  .loader {
      position: relative;
      background-color: white;
      display: flex;
      justify-content: center;
  }

  .loader div {
    display: flex;
    justify-content: center;
  }
 
@media only screen and (max-width: 420px) { 

    /* header */
    .inicio {
        display: none;
    }

    .favoritos {
        display: none;
    }

    .usuarios {
        display: none;
    }

    .boton {
        display: none;
    }

    .peliculas {
        display: none;
    }

    .headertext li {
        width: 50px;
    }

    .series {
        display: none;
    }

    .logo {
        width: 100px;
    }

    .logo img  {
        width: 100px;
        padding-top: 25px;
    }
    
    .usuario {
        width: 150px;
        display: flex;
        align-items: flex-end !important;
    }

    .header {
        background-color:  rgb(212, 205, 205);
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        height: 90px;
        width: 560px; 
    }

    .buscador {
        width: 300px;
    }
    
    .barrausuarios {
        display: flex;
    }

    .banner {
        display: none;
    }

    .bannermob {
        display: block;
        margin-top: 15px;
    }
    
    .todobarra {
        background-color: rgb(212, 205, 205)!important;
        display: flex;
        justify-content: space-around;
    }

    .txtmob{
        display: flex;
        justify-content: space-around;
        display: none;
    }
    
    .listapelis  {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-around !important;
        align-items: center;
        padding-left: 0px;

    }
    
    .listapelis ul{
        display: flex;
        flex-wrap: wrap;
    }
    
    .listapelis ul li {
        display: flex;
        flex-wrap: wrap;
    }
    
    .todopeliculas ul  {
        width: 100%;
        list-style: none;
    }
    
    .todopeliculas img{
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-left: 130px;
    }
    
    .redes{
        display: none;
    }
    .footertodo{
        width: 560px; 
    }
    .footertexto{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
        
    .contenedor-footer li h5 {
        font-size: 13px;
    }
        
    .cerrar-sesion {
        height: 70px;
        display: flex;
        text-align: center;
    }

}
