body {
    background-color: white;   
}

.logo  {
    width: 132px;
}
.videoholder {
    
}
.navmobile {
    display: none;
}
.usuario {
    width: 150px;
    display: flex;
    align-items: flex-end !important;
}
.iniciar-sesion {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 0px;
    top: 0;
    color: red;
  
}

.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 115px;
}

.barrausuarios {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footertexto {
    display: flex;
    justify-content: center;
}
.redes {
    padding-bottom: 20px;
}
.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
    
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
}

.footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.logotmbd {
    width: 130px;
}


.imagen {
    width: 300px;
    
}


.detalleimg {
    height: 500px;
    width: 350px;
    margin-left: 20px;
}

.cajaprincipal {
    margin-top: 50px;
    height: 500px;
}

.cajainfo {
    width: 500px;
    height: 500px;
}
.titulo {
    font-size: 30px;
}

.descripcion {
    height: 500px;
}

.resenastotal {
    width: 3000px;
}

.cajaentera {
    margin-top: 50px;
}

.estrella {
    color:gold;
}

.titulogenero {
    font-size: 40px;
    color: rgb(128, 124, 124);
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.listageneros  {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around !important;
    align-items: center;
}

.listageneros ul{
    display: flex;
    flex-wrap: wrap;
}

.listageneros ul li {
    display: flex;
    flex-wrap: wrap;
}

.generos ul  {
    width: 100%;
    list-style: none;
}


.generos img{
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.videoholder {
    margin-top: 90px;
    margin-left: 20px;
   
}



.videoholder h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resenastotal {
    margin-top: 20px;
}
    
@media only screen and (max-width: 420px) {
    /* header */
    .inicio {
        display: none;
    }

    .favoritos {
        display: none;
    }

    .boton {
        display: none;
    }

    .headertext li {
        width: 50px;
    }

    .peliculas{
        display: none;
    }

    .series {
        display: none;
    }

    .logo {
        width: 100px;
    }

    .logo img  {
        width: 100px;
        padding-top: 25px;
    }

    .header {
        background-color:  rgb(212, 205, 205);
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        height: 90px;
        width: 630px; 
    }

    .buscador {
        width: 300px;
    }
    .navmobile{
        display: inline;
    }
    .barrausuarios {
        display: flex;
    }

    .banner {
        display: none;
    }

    .bannermob {
        display: block;
        margin-top: 15px;
    }
    
    .todobarra {
        background-color: rgb(212, 205, 205)!important;
        display: flex;
        justify-content: space-around;
        height: 90px;
    }

    .txtmob{
        display: flex;
        justify-content: space-around;
        display: none;
    }
    .iniciar-sesion{
        display: none;
    }   
    .favoritos{
        display: none;
    }
    
    .imagen {
        width: 560px;
        height: 10px;
    }

    .detalleimg {
        height: 500px;
        width: 340px;
        margin-left: 110px;

    }
    .titulo {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    .promedioVotos {
        font-size: 25px;
    }

    .cajaprincipal  {
        width: 626px;
    }

    .cajainfo {
        margin-top: 50px;
        width: 560px !important;
        height: 735px;
    }

    .gnrs {
        font-size: 20px;
    }

    .tv {
        width: 560px !important;
        height: 1350px !important;
    }

    .descripcion {
        width: 420px;
        height: 575px;
        justify-content: center;
        font-size: 15px;
    }

    .resenastotal {
        margin-top: 680px;
        margin-bottom: 0px;
        width: 11626px !important;
    }

    .titulogenero {
        font-size: 50px;
        margin-left: 150px;
    }

    .fotodet {
        margin-left: 100px;
    }

    .redes{
        display: none;
    }
    .footertodo{
        width: 630px; 
    }
    .footertexto{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
    .contenedor-footer li h5 {
        font-size: 13px;
    }
        
    .cerrar-sesion {
        height: 70px;
        display: flex;
        text-align: center;
    }

}
  
  