body {
    background-color: white;   
}

.logo  {
    width: 132px;
}

.iniciar-sesion {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 0px;
    top: 0;
    color: red;
   
}
.usuario {
    width: 150px;
    display: flex;
    align-items: flex-end !important;
}
.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 115px;
}

.end {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.fondonav {
    background-color:black;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulofavoritos {
    font-size: 40px;
    color: rgb(128, 124, 124);
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.listafavoritos  {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around !important;
    align-items: center;
}

.listafavoritos ul{
    display: flex;
    flex-wrap: wrap;
}

.listafavoritos ul li {
    display: flex;
    flex-wrap: wrap;
}

.todofavoritos ul  {
    width: 100%;
    list-style: none;
}

.todofavoritos img{
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.footertexto {
    display: flex;
    justify-content: center;
}




.footertexto {
    display: flex;
    justify-content: center;
}
.redes {
    padding-bottom: 20px;
}
.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
    
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
  }

.footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }


.logotmbd {
    width: 130px;
    }
.favsmob{
    display: none;
}
    @media only screen and (max-width: 420px) {
        /* header */
        .inicio {
            display: none;
        }
    
        .favoritos {
            display: none;
        }
    
        .boton {
            display: none;
        }
        .iniciar-sesion{
            display: none;
        }
        .headertext li {
            width: 50px;
        }
        .favoritos{
            display: none;
        }
        .favsmob{
             display: block;
             width: 50px;
             height: 100px;
        }
        .peliculas{
            display: none;
        }
    
        .series {
            display: none;
        }
    
        .logo {
            width: 100px;
        }
    
        .logo img  {
            width: 100px;
            padding-top: 25px;
        }
        
        .usuario {
            width: 150px;
            display: flex;
            align-items: flex-end !important;
        }
    
        .header {
            background-color:  rgb(212, 205, 205);
            display: flex;
            width: auto;
            height: auto;
            align-items: center;
            height: 90px;
            width: 645px; 
        }
    
        .buscador {
            width: 300px;
        }
        
        .barrausuarios {
            display: flex;
        }
    
        .banner {
            display: none;
        }
    
        .bannermob {
            display: block;
            margin-top: 15px;
        }
        
        .todobarra {
            background-color: rgb(212, 205, 205)!important;
            display: flex;
            justify-content: space-around;
            height: 90px;
        }
    
        .txtmob{
            display: flex;
            justify-content: space-around;
            display: none;
        }

        .todofavoritos h1 {
            font-size: 30px;
            display: flex;
            justify-content: space-around;
        }

        .todofavoritos {
            width: 650px;
        }

        .imfv img {
            width: 420px;
            height: 550px;
            padding-left: 70px;
        }
        .redes{
            display: none;
        }
        .footertodo{
            width: 630px; 
        }
        .footertexto{
            display: flex;
            text-align: center;
            font-size: 15px;
        }
        .contenedor-footer li h5 {
            font-size: 13px;
        }
            
        .cerrar-sesion {
            height: 70px;
            display: flex;
            text-align: center;
        }
}    