body {
    background-color: white;   
}

.logo  {
    width: 150px;
}

.usuario {
    width: 150px;
    display: flex;
    align-items: flex-end !important;
}
.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 90px;
}

.end {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.fondonav {
    background-color:black;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.usuario img {
    width: 100px;
}


.fondofav {
    background-color: rgb(245, 241, 241);
    height: 355px;
}

.titulo {
    color: rgb(128, 124, 124) !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.fav li img {
    width: 240px;
    height: 340px;
    padding-top: 10px;
}

.fav ul{
    background-color: #151518;;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;    
}

.cajasac {
    position: relative;
}

.raya {
    display: flex;
    
}

.sacar {
    display: flex;
    align-items: center;
    background-color: rgb(245, 241, 241);
    color: black;
    justify-content: end;
    position: absolute;
    top: 85%;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

/*
.sacar {
    background-color: rgb(245, 241, 241);
    color: black;
    margin:0 0 10px;
    overflow:hidden;
    padding:6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    width: 100;
}
*/




.footertexto {
    display: flex;
    justify-content: center;
}
.redes {
    padding-bottom: 20px;
}
.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
    
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
  }

  .footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }


.logotmbd {
    width: 130px;
    }

  /*/
  .footer{
    width: 100%;
    height: 50px;
    color: rgb(252,0,5);
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 0px;
  }

  /*/
