body {
    background-color: black;
        
    
}

.barranav{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#2b2e42;
    border: 1px #2b2e42;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.buscar img {
    width: 170px;
}

.infonav { 
    background-color: #2b2e42;
    border: 1px #2b2e42;
}

.infonav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-between;
}
.buscar {
    display: flex;
    align-self: center;
}

.Accion {
    color: white;
}

.Accion2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#2b2e42;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Accion2 ul li{
    margin: 2px;
   padding: 5px 1px 5px 1px;
}

.Dramas {
    color: white;
}

.Dramas2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#2b2e42;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Dramas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Comedias {
color: white;
}

.Comedias2 ul {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#2b2e42;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Comedias2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}
.Comedias2 ul li img{
    width: 200px;
    height: 150;
}

.Románticas {
    color: white;
}

.Románticas2 ul {
    background-color: #2b2e42;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Románticas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}
.Románticas2 ul li img{
    width: 200px;
    height: 150;
}

.Terror {
    color: white;
}

.Terror2 ul {
    background-color: #2b2e42;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Terror2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}
.Terror2 ul li img {
    width: 200px;
    height: 150;
}


.footerimagenes ul{

    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

.footertexto {
    color: white;
    
}

.footerimagenes ul li img {
    width: 50%;
}
