body {
    background-color: black;
}

.logo img {
    width: 150px;
}

.barranav ul h4{
    color: white;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #151518;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buscar img {
    width: 200px;

}

.usuario img {
    width: 100px;
}

.banner p img {
    height: 300px;
    width: 1430px;
  
}
.Accion {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Accion2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#151518;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Accion2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Accion2 ul li img {
    width: 200px;
    height: 150;
}

.Dramas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Dramas2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#151518;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Dramas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Dramas2 ul li img {
    width: 200px;
    height: 150;

}

.Comedias {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Comedias2 ul {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#151518;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Comedias2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Comedias2 ul li img{
    width: 200px;
    height: 150;
}

.Románticas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Románticas2 ul {
    background-color: #151518;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Románticas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Románticas2 ul li img{
    width: 200px;
    height: 150;
}

.Terror {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Terror2 ul {
    background-color: #151518;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Terror2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Terror2 ul li img {
    width: 200px;
    height: 150;
}

.footerimagenes ul{
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

.footertexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footerimagenes ul li img {
    width: 50%;
}

@media only screen and (max-width: 420px) {

    .none {
        display: none;
    }
    
    .barranav {
        width: 1400px;
        height: 200px;
    }
    
    .logo img {
        width: 200px;
        height: 200px;
    
    }
    
    .barranav ul li {
        width: 35px;
    }

    .barranav ul li h4 {
        font-size: 44px;
        text-justify: inter-word;
    }
    
    .barranav ul h4 {
        font-size: 35px;
    }
    
    .buscar img {
        width: 200px;
    }
    
    .usuario img {
        width: 80px;
    }

    .banner {
        height: 400px;
    }

    .banner p img {
        height: 400px;
    }
    
    .Accion {
        font-size: 55px;
    }

    .Accion2{
        width: 1400px;
        height: 2200px; 
        border: 5px solid white;
    }

    .Accion2 ul{
        height: 2100px; 
    }

    .Accion2 ul li img {
        width: 1350px;
        height: 700px; 
    }
    
    .Dramas {
        font-size: 55px;
    }
    
    .Dramas2{
        width: 1380px;
        height: 2200px; 
        border: 5px solid white;
    }

    .Dramas2 ul {
        height: 2100px;
    }

    .Dramas2 ul li img {
        width: 1300px;
        height: 700px;  
    }
    
    .Comedias {
        font-size: 55px;
    }

    .Comedias2{
        width: 1370px;
        height: 2200px; 
        border: 5px solid white;
    }
    
    .Comedias2 ul {
        height: 2100px;
    }
    
    .Comedias2 ul li img{
        width: 1300px;
        height: 700px; 
    }
    
    .Románticas {
        font-size: 55px;
    }

    .Románticas2{
        width: 1400px;
        height: 2200px; 
        border: 5px solid white;
    }
    
    .Románticas2 ul {
        height: 2100px;
    }
    
    .Románticas2 ul li img{
        width: 1350px;
        height: 700px; 
    }
    
    .Terror {
        font-size: 55px;
    }

    .Terror2{
        width: 1400px;
        height: 2200px; 
        border: 5px solid white;
    }
    
    .Terror2 ul {
        height: 2100px;
    }
    
    .Terror2 ul li img {
        width: 1350px;
        height: 700px; 
    }

    .footer{
        width: 1350px; 
    }

    .footertexto h4 {
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: grid;
        grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
    }   

    .footertexto h5 {
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
    }

    .none{
        display: none;
    }
}