body {
    background-color:black;
}

.logo img {
    width: 150px;
}

.barranav ul h4{
    color: white;
    text-decoration: underline #151518;;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #151518;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buscar img {
    width: 200px;

}

.usuario img {
    width: 100px;
}

.banner p img {
    height: 300px;
    width: 1430px;
  
}
.Accion {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Accion2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#151518;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Accion2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Accion2 ul li img {
    width: 200px;
    height: 150;
}

.Dramas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Dramas2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#151518;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Dramas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Dramas2 ul li img {
    width: 200px;
    height: 150;

}

.Comedias {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Comedias2 ul {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    background-color:#151518;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Comedias2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Comedias2 ul li img{
    width: 200px;
    height: 150;
}

.Románticas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Románticas2 ul {
    background-color: #151518;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Románticas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Románticas2 ul li img{
    width: 200px;
    height: 150;
}

.Terror {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.Terror2 ul {
    background-color: #151518;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Terror2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.Terror2 ul li img {
    width: 200px;
    height: 150;
}

.footerimagenes ul{
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

.footertexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footerimagenes ul li img {
    width: 70%;
}

.nuestrosnombres{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 420px) {

    .none {
        display: none;
    }
    
    .barranav {
        width: 1400px;
        height: 350px;
    }
    
    .logo img {
        width: 300px;
        height: 250px;
    }
    

    .barranav ul li h4 {
        font-size: 44px;
        text-justify: inter-word;
        
    }
    
    .barranav ul h4 {
        font-size: 35px;
    }
    
    .buscar img {
        width: 800px;
    }
    
    .usuario img {
        width: 200px;
    }

    .banner {
        height: 400px;
    }

    .banner p img {
        height: 400px;
    }
    
    .Accion {
        font-size: 55px;
       text-align: center;
    }

    .Accion2{
        width: 1400px;
        height: 2200px; 
        
    }

    .Accion2 ul{
        height: 2250px;
        width: 1290px;   
        border: solid white 10px;
        border-radius: 30px 30px 30px 30px;        
    }

    .Accion2 ul li img {
        width: 1290px;
        height: 700px; 
        margin: auto;   
    }
    
    .Comedias {
        font-size: 55px;
        text-align: center;
    }

    .Comedias2{
        width: 375px;
        height: 2200px; 
    }
    
    .Comedias2 ul {
        height: 2200px;
        width: 1290px;   
        border: solid white 10px;
        border-radius: 30px 30px 30px 30px;   
        
    }
    
    .Comedias2 ul li img{
        width: 1290px;
        height: 700px; 
    }
    
    .Románticas {
        font-size: 55px;
        text-align: center;
    }

    .Románticas2{
        width: 375px;
        height: 2200px; 
        
    }
    
    .Románticas2 ul {
        height: 2200px;
        width: 1290px;   
        border: solid white 10px;
        border-radius: 30px 30px 30px 30px;   
    }
    
    .Románticas2 ul li img{
        width: 1290px;
        height: 700px; 
    }
    
    .Terror {
        font-size: 55px;
        text-align: center;
    }

    .Terror2{
        width: 375px;
        height: 2200px; 
        
    }
    
    .Terror2 ul {
        height: 2200px;
        width: 1290px;   
        border: solid white 10px;
        border-radius: 30px 30px 30px 30px;   
    }
    
    .Terror2 ul li img {
        width: 1290px;
        height: 700px; 
    }

    .footertexto{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        justify-content: space-around;
        width: 1430px;
    }

    .footertexto h4 {
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }   

    .nuestrosnombres {
        font-size: 40px;
        color: white;
        width: 1300px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;

    }

    .none{
        display: none;
    }
}