body {
    background-color: black;   
}

.logo img {
    width: 150px;
}

.barranav ul h4{
    color: white;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #151518;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buscar img {
    width: 200px;
}

.usuario img {
    width: 70px;
}

.banner p img {
    padding: 0%;
    height: 300px;
  
}
.recomendados ul{
    background-color: #151518;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.recomendados ul li img {
    width: 200px;
    height: 150px;
}

.rec {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white
}

.con{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

.continuar ul li img {
    width: 200px;
    height: 150px;
}

.continuar ul{
    background-color: #151518;;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: center;
    background-color: #151518;
    margin: 30px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}


.ten ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    background-color: #151518;
    justify-content: space-between;
}

.ten ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.ten ul li img {
    width: 230px;
    height: 160px;
}
   
.generos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.generos2 ul{
    background-color: #151518;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.generos ul li {
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

.generos2 ul li img {
    width: 200px;
    height: 150px;
}

.act{
    position: absolute;
    top: 70%;
    background-color: #151518;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.dra{
    position: absolute;
    top: 70%;
    background-color: #151518;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.com{
    position: absolute;
    top: 70%;
    background-color: #151518;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.rom{
    position: absolute;
    top: 70%;
    background-color: #151518;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.terr{
    position: absolute;
    top: 70%;
    background-color: #151518;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footerimagenes ul{
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

.footertexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footerimagenes ul li img {
    width: 50%;
}



@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}