body {
    background-color: white;   
}

.logo  {
    width: 122px;
}

.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 105px;
}

.barrausuarios {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.banner  {
    padding-top: 30px;
    width: auto;
}

.bannerimg {
    min-height: 292px !important;
}

.bannermob {
    display: none;
}

.iniciar-sesion {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 0px;
    top: 0;
    color: red;
    
}
.fondorecomendados {
    background-color: rgb(245, 241, 241);
    height: 355px;
}

.recomendados li img {
    width: 240px;
    height: 340px;
    padding-top: 10px;
    margin-left: 55px;
}

.recomendados2 {
    color: rgb(128, 124, 124) !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.fondocontinuar {
    background-color: rgb(245, 241, 241);
    height: 355px;
}

.continuarv2{
    color: rgb(128, 124, 124) !important;
    font-size: 20px !important;
    margin-top: 20px !important;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.continuar li img {
    width: 240px;
    height: 340px;
    padding-top: 10px;
    margin-left: 55px;
}

.top1 {
    color: rgb(163, 156, 156) !important;
    font-size: 30px !important;
    margin-top: 20px !important;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(228, 220, 220);
}

.top{
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    background-color: rgb(228, 220, 220);
    margin: 30px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondoten {
    background-color: rgb(245, 241, 241);
    padding-bottom: 10px;
}

.ten {
    padding-top: 10px;
    margin-left: 15px;
    width: 1100px;
}

.ten li {
    width: 350px;
}

.ten li img {
    width: 250px;
    height: 350px;
}

.generos {
    color: rgb(128, 124, 124) !important;
    font-size: 25px !important;
    margin-top: 50px !important;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.fondogeneros {
    background-color: rgb(245, 241, 241);
    margin-bottom: 10px;
    margin-bottom: 30px;
}

.generos2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.generos2 li {
    width: 450px;
}

.generos2 li div img {
    width: 400px;
    height: 250px;
}

.cajatext {
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.cajatext h3 {
    font-size: 18px;
}
.cajatext p {
    font-size: 13px;
}


.footertexto {
    display: flex;
    justify-content: center;
}
.redes {
    padding-bottom: 20px;
}
.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
    
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
    
}
.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
  }

.footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }


.logotmbd {
    width: 130px;
    }

.mobgen {
    display: none;

}
.favsmob{
    display: none;
}
 

@media only screen and (max-width: 420px) {

    .inicio {
        display: none;
    }

    .favoritos {
        display: none;
    }


    .boton {
        display: none;
    }

    .headertext li {
        width: 50px;
    }
    .favsmob{
     display: block;
     width: 50px;
     height: 100px;
    }

    .peliculas{
        display: none;
    }

    .series {
        display: none;
    }

    .logo {
        width: 100px;
        padding-right: 0px;
    }

    .logo img  {
        width: 100px;
        padding-top: 25px;
    }
    .iniciar-sesion{
        display: none;
    }
    

    .cja {
        width: 45px;
        font-size: 10px;
        padding-left: 0px;
    }

    .header {
        background-color:  rgb(212, 205, 205);
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        height: 90px;
        width: 373px; 
    }

    .buscador {
        width: 273px;
        padding-left: 0px;
    }
    
    .barrausuarios {
        display: flex;
    }
    
    .banner {
        display: none;
    }

    .bannermob {
        display: block;
        margin-top: 15px;
    }
    
    .todobarra {
        background-color: rgb(212, 205, 205)!important;
        display: flex;
        justify-content: space-around;
        height: 90px;
    }

    .escri {
        width: 100px;
    }

    .ttbarr {
        max-width: 215px;
    }

    .txtmob{
        display: flex;
        justify-content: space-around;
        display: none;
    }

    .recomendados {
        width: 350px;        
    }

    .recomendados li img {
        padding-top: 10px;
        padding-right: 10px;
        margin-left: 18px;
    }

    .recomendados2 {
        display: flex;
        justify-content: center;
    }

    .continuarv2{
        display: flex;
        justify-content: center;
    }

    .continuar {
        width: 350px;  
    }

    .continuar li img {
        padding-top: 10px;
        padding-right: 10px;
        margin-left: 18px;
    }

    .top1 {
        font-size: 18px !important;
    }

    .top{
        display: flex;
        justify-content: center;
        align-self: center;
        height: 50px;
        padding-bottom: 10px;
    }
    
    .fondoten {
        margin-bottom: 20px;
    }
    .ten li {
        margin-left: 60px;
    }

    .ten li img {
        width: 250px;
        height: 250px;
        margin-right: 10px;
        padding-right: 90px;
        padding-left: 0px; 
    }

    .imten img {
        margin-left: 0px;
    }

    .redes{
            display: none;
    }
    .footertodo{
        width: 375px; 
    }
    .footertexto{
            display: flex;
            text-align: center;
            font-size: 15px;
    }
        
    .contenedor-footer li h5 {
            font-size: 13px;
    }
        
    .cerrar-sesion {
            height: 70px;
            display: flex;
            text-align: center;
    }

}



