body {
    background-color: white !important;   
}

.logo  {
    width: 132px;
}

.navmobile {
    display: none;
}

.favsmob{
    display: none;
}

.titulo {
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color:  rgb(212, 205, 205);
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    height: 115px;
}

.barrausuarios {
    display: flex;
    align-items: flex-end;
}

.todobarra {
    background-color: rgb(212, 205, 205)!important;
    display: flex;
    justify-content: center;
}

.iniciar-sesion {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 0px;
    top: 0;
    color: red;
}

.completa {
    margin-left: 15px;
}

#name {
    margin-left: 10px;
}

#email {
    margin-left: 10px;
}

#password {
    margin-left: 10px;
}

.footertexto {
    display: flex;
    justify-content: center;
}

.redes {
    padding-bottom: 20px;
}

.footer2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2 ul li h5{
    display: flex;
    align-items: flex-end;
    color: rgb(128, 124, 124) !important;
}

.footer2 ul li img {
    width: 150px;
    display: flex;
    justify-content: center;
}

.footer button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    font-size: 16px;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 60px;
    top: 0;
    color: red;
}

.footertodo {
    padding-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.logotmbd {
    width: 130px;
}

.mobgen {
    display: none;
}

@media only screen and (max-width: 420px) {
    
.favsmob {
    display: block;
    width: 50px;
    height: 100px;
}

.navmobile{
    display: inline;
}


.cja {
    width: 45px;
    font-size: 10px;
    padding-left: 0px;
}

.navmobile {
    display: inline;
}

.inicio {
    display: none;
 }

.favoritos {
    display: none;
}

.boton {
    display: none;
}

.headertext li {
    width: 50px;
}

.favsmob{
    display: block;
    width: 50px;
    height: 100px;
}

.peliculas{
    display: none;
}

.series {
    display: none;
}

.logo {
    width: 100px;
    padding-right: 0px;
}

.logo img  {
    width: 100px;
    padding-top: 25px;
}

   
    .cja {
        width: 45px;
        font-size: 10px;
        padding-left: 0px;
    }

    .header {
        background-color:  rgb(212, 205, 205);
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        height: 90px;
        width: 879px; 
    }

    .buscador {
        width: 273px;
        padding-left: 0px;
    }
    
    .barrausuarios {
        display: flex;
    }

    .buscador {
        width: 273px;
        padding-left: 0px;
    }
    
    .barrausuarios {
        display: flex;
    }
    
    .banner {
        display: none;
    }

    .titulo {
        font-size: 70px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .inputs {
        width: 200px;
        padding-left: 70px;
        height: 30px;
        border: solid 4px black;
        margin-bottom: 10px;
    }

    .completa {
        width: 800px;
        height: 150px;
    }

    .palabra {
        margin-bottom: 5px;
        font-size: 40px;
    }
    
    .todobarra {
        background-color: rgb(212, 205, 205)!important;
        display: flex;
        justify-content: space-around;
        height: 90px;
    }

    .escri {
        width: 100px;
    }

    .ttbarr {
        max-width: 215px;
    }
.form {
    height: 700px;
}
    .txtmob{
        display: flex;
        justify-content: space-around;
        display: none;
    }

    .redes{
        display: none;
    }

    .footertodo{
        width: 883px; 
    }

    .footertexto{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
        
.contenedor-footer li h5 {
    font-size: 13px;
}
        
.cerrar-sesion {
    height: 70px;
    display: flex;
    text-align: center;
}


}  