body{
    background-color: black;
}

.logo img {
    width: 150px;
}

.header {
    background-color: black;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;    
}

.fondonav {
    background-color:black;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.usuario img {
    width: 100px;
}

.fondopeli img{
    width: 600px;
}

.fondopeli{
    background-color:  black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listapeli{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    font-size: 20px;
}

.footerimagenes {
    width: 1000px;
    height: 50px;
}

.footerimagenes ul{
    background-color:  black;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: start;
    margin-left: -1%;
}

.footertexto {
    list-style: none;    
    height: 250px;
}

.nuestrosnombres{
    background-color: black;
    font-size: 13px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 420px) {

    .none {
        display: none;
    }
    
    .barranav {
        width: 1400px;
        height: 350px;
    }
    
    .logo img {
        width: 350px;
        height: 300px;
    }

    .barranav ul li h4 {
        font-size: 44px;
        text-justify: inter-word;
    }
    
    .barranav ul h4 {
        font-size: 35px;
    }
    
    .buscar img {
        width: 800px;
    }
    
    .usuario img {
        width: 200px;
    }
    
    .fondopeli img{
        width: 1440px;
        height: 760px;
    }

    .fondopeli {
        display: flex;
        flex-direction: column;
    }
    
    .fondopeli{
        width: 1400px;
        height: 1960px;
    }
    
    .listapeli {
        font-size: 60px;
    }
    

    .footerimagenes ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footerimagenes ul li{

        list-style: none;
    }
    
    .footertexto{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        justify-content: space-around;
        width: 1430px;
    }

    .footertexto h4 {
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }   

    .nuestrosnombres {
        font-size: 40px;
        color: white;
        width: 1200px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
    }

}