body{
    background-color: black;
}

.logo img {
    width: 150px;
}

.barranav ul h4{
    color: white;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #151518;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buscar img {
    width: 200px;
}

.usuario img {
    width: 100px;
}

.fondopeli img{
    width: 600px;
}

.fondopeli{
    background-color:#151518;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listapeli{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    font-size: 20px;
}

.footerimagenes ul{
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

.footertexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footerimagenes ul li img {
    width: 50%;
}

@media only screen and (max-width: 420px) {

    .none {
        display: none;
    }
    
    .barranav {
        width: 1400px;
        height: 200px;
    }
    
    .logo img {
        width: 200px;
        height: 200px;
    
    }
    
    .barranav ul li {
        width: 35px;
    }

    .barranav ul li h4 {
        font-size: 44px;
        text-justify: inter-word;

    }
    
    .barranav ul h4 {
        font-size: 35px;
    }
    
    .buscar img {
        width: 200px;
    }
    
    .usuario img {
        width: 80px;
    }
    
    .fondopeli img{
        width: 1400px;
        height: 700px;
    }

    .fondopeli {
        display: flex;
        flex-direction: column;
    }
    
    .fondopeli{
        width: 1400px;
        height: 1700px;
    }
    
    .listapeli {
        font-size: 50px;
    }
    
   
    .footertexto h4 {
        font-size: 35px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }   

    .footertexto h5 {
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
    }
    
}