body{
    background-color: black;
}

.logo img {
    width: 150px;
}

.barranav ul h4{
    color: white;
}

.barranav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #151518;
    align-items: center;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buscar img {
    width: 200px;
}

.usuario img {
    width: 70px;
}

.fondoserie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #151518;
    color: white;
}

.fondoserie img{
    width: 600px;
}

.listaserie{
    list-style: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerimagenes ul{
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

.footertexto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footerimagenes ul li img {
    width: 50%;
}

@media only screen and (max-width: 420px){

    .none{

        display: none;
    }
    .barranav {
        width: 1200px;
    }
    
    .logo img {
        width: 125px;
    }
    
    .barranav ul li {
        width: 50px;
    }
    
    .buscar img {
        width: 120px;
    }
    
    .usuario img {
        width: 60px;
    }
    
    .fondoserie img{
        width: 600px;
        height: 400px;
    }
    
    .fondoserie{
        width: 1200px;
    }
    
    .listaserie{
        font-size: 21px;
    }
    
    .footerimagenes ul {
        width: 600px;
    }
    
    .footerimagenes ul li img {
        width: 150%;
    }

}
