body {

    background-color: black;
}

.barranav{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:lightpink;
    border: 1px lightpink;
    margin-bottom: 20px;
}
#infonav {
    background-color: lightpink;
    border: 1px lightpink;
}
#infonav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-between;
}
#Accion {
    color: white;
}
#Accion2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: space-between;
    background-color:lightpink;
}
#Accion2 ul li{
    margin: 30px;
    height: 50px;
}

#Dramas {
    color: white;
}
#Dramas2 ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: space-between;
    background-color:lightpink;
}
#Dramas2 ul li{
    margin: 30px;
    height: 50px;
}
#Comedias {
color: white;
}
#Comedias2 ul {
background-color: lightpink;
display: flex;
flex-direction: row;
border: 1px solid black;
list-style: none;
justify-content:space-between ;
}

#Comedias2 ul li{
margin: 30px;
height: 50px;
}
#Aventuras {
color: white;
}
#Aventuras2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
}

#Aventuras2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}
#Romanticas {
color: white;
}
#Romanticas2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
}

#Romanticas2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

#Terror {
color: white;
}
#Terror2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
}

#Terror2 ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}

#CienciaFiccion {
color: white;
}
#CienciaFiccion2 ul {
background-color: lightpink;
display: flex;
flex-direction: row;
border: 1px solid black;
list-style: none;
flex-wrap: wrap;
}

#CienciaFiccion2 ul li{
margin: 2px;
padding: 5px 1px 5px 1px;
}

#Infantiles {
color: white;
}
#Infantiles2 ul {
background-color: lightpink;
display: flex;
flex-direction: row;
border: 1px solid black;
list-style: none;
flex-wrap: wrap;
}

#Infantiles2 ul li{
margin: 2px;
padding: 5px 1px 5px 1px;
}



#tvshows {
color: white;
}
#tvshows2 ul {
background-color: lightpink;
display: flex;
flex-direction: row;
border: 1px solid black;
list-style: none;
flex-wrap: wrap;
}

#tvshows2 ul li{
margin: 2px;
padding: 5px 1px 5px 1px;
}


#footerimagenes ul{

    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

#footertexto {
    color: white;
    
}

