body {

    background-color: black;
}

.barranav{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:lightpink;
    border: 1px lightpink;
    margin-bottom: 20px;
}
#infonav {
    background-color: lightpink;
    border: 1px lightpink;
}
#infonav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-between;
}

#recomendados ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: space-between;
    background-color: lightpink;
}
#recomendados ul li{
    margin: 80px;
}

#continuar ul{
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
}

#top{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: center;
    background-color: lightpink;  
    margin: 30px; 
}


#ten ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
    background-color: lightpink;
}
#ten ul li{
    margin: 2px;
    padding: 5px 1px 5px 1px;
}
#generos {
        color: white;
}
#generos2 ul{
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    flex-wrap: wrap;
}
#generos2 ul li{
        margin: 30px;
        height: 50px;
}
#footerimagenes ul{

    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

#footertexto {
    color: white;
    
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}