body {

    background-color: black;
}

.barranav{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:lightpink;
    border: 1px lightpink;
    margin-bottom: 20px;
}

#recomendados ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: space-between;
    background-color: lightpink;
}
#recomendados ul li{
    margin: 80px;
}

#continuar ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: space-between;
    background-color: lightpink;
}
#continuar ul li{
    margin: 80px;
}

#top{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: center;
    background-color: lightpink;  
    margin: 30px; 
}


#ten ul{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content: space-between;
    background-color: lightpink;
}
#ten ul li{
    margin: 30px;
    height: 100px;
}
#generos {
        color: white;
}
#generos2 ul{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        list-style: none;
        justify-content: space-between;
        background-color:lightpink;
}
#generos2 ul li{
        margin: 30px;
        height: 50px;
}
#accion {
        color: white;
}
#accion2 ul{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        list-style: none;
        justify-content: space-between;
        background-color:lightpink;
}
#accion2 ul li{
        margin: 30px;
        height: 50px;
}
    
#dramas {
        color: white;
}
#dramas2 ul{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        list-style: none;
        justify-content: space-between;
        background-color:lightpink;
}
#dramas2 ul li{
        margin: 30px;
        height: 50px;
}
#Comedias {
    color: white;
}
#Comedias2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#Comedias2 ul li{
    margin: 30px;
    height: 50px;
}
#Aventuras {
    color: white;
}
#Aventuras2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#Aventuras2 ul li{
    margin: 30px;
    height: 50px;
}
#Romanticas {
    color: white;
}
#Romanticas2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#Romanticas2 ul li{
    margin: 30px;
    height: 50px;
}

#Terror {
    color: white;
}
#Terror2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#Terror2 ul li{
    margin: 30px;
    height: 50px;
}

#CienciaFiccion {
    color: white;
}
#CienciaFiccion2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#CienciaFiccion2 ul li{
    margin: 30px;
    height: 50px;
}
#Infantiles {
    color: white;
}
#Infantiles2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#Infantiles2 ul li{
    margin: 30px;
    height: 50px;
}

#Comics {
    color: white;
}
#Comics2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#Comics2 ul li{
    margin: 30px;
    height: 50px;
}

#tvshows {
    color: white;
}
#tvshows2 ul {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style: none;
    justify-content:space-between ;
}

#tvshows2 ul li{
    margin: 30px;
    height: 50px;
}
