body{
    background-color: black;
}

.barranav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid lightpink;
    background-color: lightpink;
    margin-bottom: 20px;
}
#infonav {
    background-color: lightpink;
    border: 1px lightpink;
}
#infonav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-between;
}
.fondoserie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightpink;
    color: black;
}

#listaserie{
    list-style: none;
    font-size: 20px;
}
#footerimagenes ul{

    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    list-style: none;
}

#footertexto {
    color: white;
    
}
